@font-face {
    font-family: 'Exo2.0-Thin';
    font-style: normal;
    src: url(/fonts/Exo2.0-Thin.otf) format('opentype'),
         url(/fonts/Exo2.0-Thin.otf) format('truetype');
}

body {
    display: flex;
    background-image: url(/src/img/Pattern.png);
    text-align: center;
    padding: 20px;
    margin: 0;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    margin: 0 auto;
    margin-top: 20px;
    color: white;
    margin-bottom: 20px;
    font-size: 36px;
    font-family: 'Exo2.0-Thin', sans-serif;
    font-weight: 400;
}

.food {
    position: relative;
    width: 312px;
    height: 470px;
    background-color: #f2f2f2;
    border: solid #1698d9 4px;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    
    margin: 40px;
    margin-top: 4px;
}

.cats input {
   display: none;
}


input:checked + .food{
    border-color: #d91667;
}
.food:hover,
    .cat:hover:before,
    .cat:hover:after {
        border-color: #2EA8E6;
    }

input:checked .cats{
     border-color: #D91667;
    }

.food-introduction {
    text-align: center;
    color: #898989;
    margin-left: -20px;
}    

.food-name__wrapper {
    margin: 0;
    display: flex;
    position: relative;
    width: 70%;
    flex-direction: column;
    margin-left: 13.5%;
    overflow: hidden;
}

.food-name {
    margin: 0;
    margin-top: -8px;
    font-size: 48px;
    font-weight: bold;
}
.food-components {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.food-quantity {
    color: #898989;
    font-size: 14px;
}

.food-weight {
    width: 85px;
    height: 85px;
    background-color: #1698d9;
    border-radius: 50%;
    position: absolute;
    bottom:15px;
    right:15px;
    text-align: center;
    font-size: 32px;
    color: #ffffff;
}

.cat-photo {
    content: url(/src/img/Photo_Cat.png);
    position: relative;
    margin-left: -27px;
    margin-top: 16px;
    
}

.food-weight--amount {
    margin:0;
    padding: 0;
    margin-top: 5px;
    font-size: 42px;
    letter-spacing: 2px;
}

.food-weight--gramms {
    margin:0;
    padding: 0;
    font-size: 24px;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    justify-content: center;
    flex-wrap: wrap;
}